/* .Mostly just colour scheme and font for now. */
html {
    color: rebeccapurple;
    background-color: black;
    /* change font family eventually */
    font-family: "Times New Roman", Times, serif;
  }
/* link styling */
a, a:hover {
    color: hotpink;
}
a:visited {
  color: red;
}
/* Table styling */
table, td, tr {
  border: 2px solid rebeccapurple;
  border-collapse: collapse;
}
caption {
    caption-side: bottom;
    font-weight: bold;
    }